<div class="center">
    <h2>About DartsTrainer</h2>
    <p>DartsTrainer is an open source Angular based PWA developed by two german hobby darts players.</p>
    <p>We would love to hear any <a href="mailto://feedback@p-fruck.de">feedback or suggestions via email</a>.</p>
    <p>Also, since this app is open source, you can easily create issues and feature requests at <a href="https://gitlab.com/p-fruck/DartsTrainer">Gitlab</a>, where all of our source code is hosted!</p>
</div>

<div class="footer">
    build: {{ info.date }}
</div>
