<mat-tab-group mat-stretch-tabs class="stretched-tabs" animationDuration=".32s">
    <mat-tab label="X01">
        <app-x01 class="gamemode-options-tab"></app-x01>
    </mat-tab>
    <mat-tab label="Cricket"> Coming soon... </mat-tab>
    <mat-tab label="Round the Clock"> Coming not so soon... </mat-tab>
</mat-tab-group>

<div class="container">
    <mat-accordion *ngIf="!supportsIndexedDb" class="accordion-align">
        <mat-expansion-panel class="guest-panel">

            <mat-expansion-panel-header>
                <mat-panel-title>
                <mat-icon>account_circle</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Guests
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-guest-list></app-guest-list>

        </mat-expansion-panel>
    </mat-accordion>

    <div class="spacer"></div>
    <app-user-list *ngIf="supportsIndexedDb" #userListComponent></app-user-list>
    <div class="spacer"></div>

    <button
        mat-raised-button
        type="button"
        (click)="startGame()"
        [disabled]="!viewIsReady || players?.length === 0"
    >Start</button>
</div>
