<form [formGroup]="form" class="options-form">
    <mat-slide-toggle
        formControlName="doubleIn"
        color="primary"
        >Double-In</mat-slide-toggle>
    <mat-slide-toggle
        formControlName="doubleOut"
        color="primary"
        >Double-Out</mat-slide-toggle>
    <mat-slide-toggle
        formControlName="masterOut"
        color="primary"
        (change)="toggleDoubleOut($event)"
        >Master-Out</mat-slide-toggle>
    <div class="points-slider">
        <mat-slider
            color="primary"
            thumbLabel
            formControlName="pointsLevel"
            [displayWith]="formatLabel"
            tickInterval="1"
            min="0"
            max="4"></mat-slider>
        <mat-form-field *ngIf="!form.value.pointsLevel" class="points-input">
            <input matInput
                formControlName="customPoints"
                type="number"
                min="2"
                step="1"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </mat-form-field>
        <span *ngIf="form.value.pointsLevel">{{ formatLabel(form.value.points) }}</span>
    </div>
</form>
