<div class="center">
    <h2>Diddle for the middle!</h2>

    <p>Every player throws a single dart at the bulls eye. The player nearest to the bullseye starts the game.</p>
    <p>Drag and drop a player to reorder the position.</p>

    <div cdkDropList class="player-list" (cdkDropListDropped)="drop($event)">
        <div class="player-box" *ngFor="let player of players" cdkDrag>{{ player.name }}</div>
    </div>

    <button mat-raised-button (click)="rotate()">Rotate</button>
    <button mat-raised-button (click)="play()" color="primary">Play</button>
</div>
